.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19PredicateAlgebra/.indexes/e4/50/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19PredicateAlgebra/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/18.06.19MyArrList/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/18.06.19MyArrList/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1217774155.index
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19PredicateAlgebra/.indexes/e4/50/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19PredicateAlgebra/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/18.06.19MyArrList/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/18.06.19MyArrList/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1217774155.index
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/version.ini
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/609467764.index
.metadata/.plugins/org.eclipse.jdt.core/525006658.index
.metadata/.plugins/org.eclipse.jdt.core/46599334.index
.metadata/.plugins/org.eclipse.jdt.core/3894376121.index
.metadata/.plugins/org.eclipse.jdt.core/3726013379.index
.metadata/.plugins/org.eclipse.jdt.core/3690072482.index
.metadata/.plugins/org.eclipse.jdt.core/3572279221.index
.metadata/.plugins/org.eclipse.jdt.core/3285578632.index
.metadata/.plugins/org.eclipse.jdt.core/328321291.index
.metadata/.plugins/org.eclipse.jdt.core/2998802874.index
.metadata/.plugins/org.eclipse.jdt.core/2994437926.index
.metadata/.plugins/org.eclipse.jdt.core/2790509059.index
.metadata/.plugins/org.eclipse.jdt.core/2780863054.index
.metadata/.plugins/org.eclipse.jdt.core/2459314203.index
.metadata/.plugins/org.eclipse.jdt.core/2230041189.index
.metadata/.plugins/org.eclipse.jdt.core/2183536066.index
.metadata/.plugins/org.eclipse.jdt.core/2152665774.index
.metadata/.plugins/org.eclipse.jdt.core/1996105539.index
.metadata/.plugins/org.eclipse.jdt.core/1768007783.index
.metadata/.plugins/org.eclipse.jdt.core/1672990180.index
.metadata/.plugins/org.eclipse.jdt.core/1301353557.index
.metadata/.plugins/org.eclipse.jdt.core/1217774155.index
.metadata/.plugins/org.eclipse.jdt.core/1060244117.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/18.06.19MyArrList/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/18.06.19MyArrList/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/18.06.19BinarySearch/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/17.06.19UnussualComp/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/17.06.19CarSort/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/17.06.19CarSort/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/17.06.19ArrayCopy/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19Reverse Integer/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19PredicateAlgebra/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19PredicateAlgebra/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19IntegerPredicate/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19IntegerPredicate/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19Concatination/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19CarPredicate/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19Brakets/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19StrimMethods/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19Static/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19Static/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19SplitJoin/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19JavaString/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19JavaString/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19Immutable/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19Immutable/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19Equality/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/13.06.19Equality/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/12.06.19RanomLib/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/12.06.19RandomLib/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/12.06.19RandomLib/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/12.06.19RandomCars/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/12.06.19Chinizes/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/12.06.19Chinizes/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/12.06.19Agriculture/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/11.06.19Test/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/16.06.19PredicateAlgebra/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/17.06.19CarSort/.markers
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/version.ini
